.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.project {
  grid-column: auto / span 2;
  text-align: center;
  overflow: hidden;
  a {
    display: inline-block;
  }
  &.card {
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
  }
  .post-item {
    position: relative;
    padding-bottom: 20px;
    // height: 560px;
    img {
      vertical-align: bottom;
    }
    .meta {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 560px;
      .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-100% - 20px);
        margin: auto;
        transition: left 0.2s;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;
        a {
          text-decoration: dotted underline;
        }
      }
    }
    &:hover {
      .meta .details {
        left: 0;
      }
    }
  }
}

@media (min-width: 920px) {
  .project {
    grid-column: auto / span 1;
  }
}

@media (min-width: 920px) {
  .project:nth-child(3n + 1) {
    grid-column: auto / span 2;
  }
}

.project-link {
  text-decoration: none;
}
.thumbnail {
  height: 560px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .15s ease;
  box-shadow: 0 0 40px -20px rgba(0,0,0,.25);
}
.project-title {
  font-size: 1rem;
  color: #000;
  margin: 2rem 0 1rem;
  padding: 0;
}

