<div class="hero" >
  <h1 class="hero-title" >Simplicity. Aesthetics. Value.</h1>
  <h2 class="hero-subtitle" >
    Hi there, I'm an independent Digital Designer &amp; Art Director focused on
    digital design for brands that like to have fun.
  </h2>
</div>
