<!-- <%
const [categoryNameArr] = sortCategorires(site.categories)
%> -->

<article class="article-container">
  <div class="project-header">
    <h1 class="project-title"><%- post.title %></h1>
    <div class="project-info">
      <div class="categories-container">
        <div class="categories">
          <span class="label">Categories</span>
          <% post.categories.data.forEach(function(category, index){ %>
            <span class="category"><%= category.name %></span>
          <% }) %>
        </div>
      </div>
      <div class="year-container">
        <span class="label">Year</span>
        <div>2021</div>
      </div>
    </div>
  </div>
  <div class="post-body">
    <%- post.content %>
  </div>
</article>
