<header class="header sticky">
  <div class="container">
    <div class="left">
      <a
        href="/"
        aria-current="page"
        class="home-link active active--exact active"
        ><img
          src="https://cdn.qdovo.com/img/timg.jpeg"
          alt="Jason Huang"
          class="logo"
      /></a>
      <a
        href="/"
        aria-current="page"
        class="home-link active active--exact active"
      ></a>
    </div>
    <nav class="nav right">
      <a href="/journal" class="nav__link">Journal</a
      ><a href="/contact" class="nav__link">Say Hi!</a>
    </nav>
  </div>
</header>
