<div class="project card">
  <div class="post-item">
    <a href="<%- url_for(post.link || post.path) %>">
      <img
        alt="Ice Cream"
        src="<%- post.headimg %>"
        width="2560"
        class="thumbnail g-image g-image--lazy g-image--loaded"
      />
    </a>
    <div class="meta">
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <h3  class="project-title"><%- post.title %></h3>
    <div class="categories">
      <% post.tags.forEach(function(tag, index){ %>
        <li class="tag">
          <span class="category"><%= tag.name %></span>
        </li>
      <% }) %>
    </div>
  </div>
</div>
